


    body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }  
    
    header {
    background-color: #387f8b;
    color: #fbff00;
    padding: 20px;
    }
    
    nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    }
    
    nav li {
    margin: 0 10px;
    }
    
    nav a {
        text-decoration: none;
        color: #1cf3fa;
        transition: color 0.2s ease-in-out;
      }
      
      nav a:hover {
        color: #ffffff;
        background-color: #1cf3fa;
        padding: 10px;
        border-radius: 5px;
      }
    
    h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    }
    
    
    #oferta {
    padding: 50px;
    }
    
    #oferta h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    }
    
    #oferta p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    }
    
    #oferta ul {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 30px;
    }
    
    #oferta li {
    margin-bottom: 10px;
    }
    
    #oferta li strong {
    font-weight: bold;
    }
    
    #oferta table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    }
    
    #oferta th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    }
    
    #oferta td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    }
    
    
    #galeria {
    padding: 50px;
    background-color: #eee;
    }
    
    #galeria h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    
    .gallery img {
    width: 70%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    }

    
    #contact-form {
        width: 80%;
        margin: 0 auto;
      }
      
      #contact-form label {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      
      #contact-form input[type="text"],
      #contact-form input[type="email"],
      #contact-form textarea {
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      
      #contact-form textarea {
        height: 150px;
      }
      
      #contact-form input[type="submit"] {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        font-size: 1.2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      #contact-form input[type="submit"]:hover {
        background-color: #ccc;
        color: #333;
      }

    @media only screen and (max-width: 768px) {
        header {
        padding: 10px;
        }
    }
    @media only screen and (max-width: 768px) {
        .gallery img {
        width: 100%;
        }
    }